node_modules/
dist/
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env.local
.env.*.local
.env          # 提交 .env.example 即可，真实 .env 本地使用

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/

# Prisma
prisma/migrations/
